{% extends "img_search/layout.html" %}
{% load static %}

{% block content %}
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<!--title>Image_image</title--> 
</head> 
<body> 
	  <div class= "loading"> 
				<!--img src="../../static/data/background.jpg" class="img-fluid" alt="Responsive image"-->
		</div>

		<div class = "loading-title">
			<h5> Now search your database faster using AISE!! </h5>
		</div>
		<div class = "form-actions">
				<!--button onclick="location.href='/home'" type="button">
					Let's go searching!!</button-->
				<a href="/home" class="btn btn-info btn-md" role="button"><h4>Let's go searching!!</h4></a>
			<!--a href="/home" class="button"><h5>Let's go searching!!</h5></a-->
		</div>
		
</body> 
</html> 
{% endblock %} 
